@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');

:root {
  --bg-color: #FF8A8A;
  --primary-color: #F4DEB3;
  --secundary-color: #CCE0AC;
  --font: Josefin Sans;
}

body {
    background-color: var(--bg-color);
    color: var(--primary-color);
    font-family: var(--font);
    height: 100vh;
    margin: 0;
  }

  header {
    background-color: var(--primary-color);
    text-align: center;
    padding: 1px;
  }